<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oxide"
        tools:targetApi="31">
        <activity
            android:name=".screens.Meeting"
            android:exported="false"
            android:label="@string/title_activity_meeting"
            android:theme="@style/Theme.Oxide" />
        <activity
            android:name=".screens.NewAnnouncement"
            android:exported="false"
            android:label="@string/title_activity_new_announcement"
            android:theme="@style/Theme.Oxide" />
        <activity
            android:name=".screens.Home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Oxide" />
        <activity
            android:name="io.appwrite.views.CallbackActivity"
            android:exported="true">
            <intent-filter android:label="android_web_auth">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="appwrite-callback-fryday" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Oxide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>